

@media screen and (max-width: 648px){
    nav {
        margin-left: 0 !important;
    }
    
    nav ul{
        display: none;
        visibility: hidden;
    }

    nav button{
        visibility: visible;
        display: block !important;
        position: relative;
        right: 30%;
    }
}

@media screen and (max-width: 551px){
    nav{
        width: 150px !important;
        margin-right: 50px;
    }

    nav button{
        right: 100%;
    }
}

@media screen and (max-width: 434px){
  
    nav button{
        right: 120%;
    }
}

@media screen and (max-width: 394px){
  
    nav {
        width: 90px !important;
        margin-right: 0 !important;
    }

    nav button{
        right: 240%;
    }
}

@media screen and (max-width: 370px){
  
    nav {
        width: 50px !important;
        margin-right: 0;
    }



    nav button{
        right: 490%;
    }
}