@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');


input{
    input {
        background-color: rgb(229, 242, 253);
        color: #333;
    }
}

.hero-container{
    background: linear-gradient(rgb(180, 219, 255, 0.9), rgb(231, 237, 243, 0.7));
}

.form-h1{
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
    color: yellow;
    font-size: 2rem;
    font-weight: bold;
}

.response{
    display: none;
}

.refferal_badge{
    width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;
}

.p_form_mailshimp{
    margin: 0 auto;
}

.p_form_mailshimp span{
    display: inline-block; background-color: black; border-radius: 4px;
}