@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(gray, rgb(28, 62, 92));
  background-repeat: no-repeat;
}

main{
  overflow-x: hidden;
}

.subnav {
  list-style-type: none;
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subnav-item {
  padding: 10px;
  text-decoration: none;
  color: #333;
  display: block;
}

.subnav-item:hover {
  background-color: #f0f0f0;
}